html, body{
  height:100%;
}
body{
  font-family:'Muli', sans-serif;
}
@font-face{
  font-family:"fontAwesome";
  src:url(fonts/fontawesome-webfont.eot);
  src:url(fonts/fontawesome-webfont.svg);
  src:url(fonts/fontawesome-webfont.ttf);
  src:url(fonts/fontawesome-webfont.woff);
  src:url(fonts/fontawesome-webfont.woff2);
  src:url(fonts/FontAwesome.otf);
}
@font-face{
  font-family:"glyphicon";
  src:url(fonts/glyphicons-halflings-regular.eot);
  src:url(fonts/glyphicons-halflings-regular.svg);
  src:url(fonts/glyphicons-halflings-regular.ttf);
  src:url(fonts/glyphicons-halflings-regular.woff);
  src:url(fonts/glyphicons-halflings-regular.woff2);
  src:url(fonts/glyphicons-halflings-regular.otf);
}
@font-face{
  font-family:"Muli";
  src:url(fonts/Muli-Regular.ttf);
  src:url(fonts/Muli-Light.ttf);
  /*src:url(fonts/Muli-Italic.ttf);
  src:url(fonts/Muli-LightItalic.ttf);*/
}
.font{
  font-family:"fontAwesome";
  height:20px;
  width:20px;
  font-size:12px;
  margin-right:5px;
  display:inline-block;
}
.icon-color{
  color:black;
}
#scroll li{
  line-height:40px;
  margin-top:12px;
}
#scrollspy{
  display:block;
  width:100% !important;
  height:40px !important;
  margin:0px;
  position:fixed;
  margin-bottom:64px;
  bottom:0px !important;
  left:0px !important;
  z-index:6;
}
.navbar{
  min-height:0px;
}
.navbar-nav>li>a{
  padding-top:0px !important;
  padding-bottom:0px !important;
}
.navbar-custom{
  background-image:none !important;
  background-color:#FFB83D !important;
  border:none !important;
  border-radius:0px !important;
  -webkit-box-shadow:none !important;
  box-shadow:none !important;
  text-shadow:none;
  font-family:'Muli', sans-serif;
  font-size:13pt;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom a:hover,
.navbar-custom .navbar-nav > .active > a {
  background-image:none !important;
  background-color:#FFB83D !important;
  -webkit-box-shadow:none !important;
  box-shadow:none !important;
  color:black !important;
  text-shadow:none;
}
.navbar-custom a:hover{
  color:#C08A2B !important;
  text-shadow:none;
}
.navbar-custom a{
  color:#C08A2B !important;
  text-shadow:none;
}
.navbar-brand,
.navbar-nav>li>a{
  text-shadow:none;
}
#nav{
  height:76px;
  width:100%;
  margin:0px;
  /*margin-bottom:0px !important;*/
  background-color:#EFEFEF;
  text-align:center;
  line-height:55px;
  border-top-style:solid;
  border-top-width:12px;
  border-top-color:#FFB83D;
  padding-left:0.3%;
  padding-right:0.3%;
  padding-top:4px;
  padding-bottom:4px;
  opacity:1;
  left:0;
  bottom:0;
  clear:both;
  position:fixed;
}
#nav a{
  color:black;
  text-decoration:none;
}
#scrollSign{
  background-color:none !important;
  color:white !important;
  text-align:right;
  line-height:40px;
  margin-right:2%;
  position:absolute;
  z-index:2;
  right:0px;
  top:0px;
  margin-top:1px;
}
#scrollSign a{
  background-color:none !important;
  color:white !important;
  text-decoration:none;
}
#copyright{
  color:#B4B4B4;
  width:auto;
  margin-left:5%;
  float:left;
  position:fixed;
}
#social-icons{
  display:inline;
  float:right;
  position:fixed;
  right:0%;
  margin-right:5%;
}
#dropdown{
  font-size:16pt;
  color:#EFEFEF;
  border:none;
  background-color:transparent;
  height:40px;
  width:40px;
  display:inline;
  z-index:2;
}
#navbar{
  width:auto;
  color:black;
  font-family:'Muli', sans-serif;
  text-style:none;
  text-align:center;
  position:relative;
}
#navbar span{
  margin-left:0.8%;
  margin-right:0.8%;
}
#download{
  background-color:#FF032C;
  color:white !important;
  padding-left:8px;
  padding-right:8px;
}
#download:active{
  background-color:#BA0000;
}
#home,
#merchants{
  background-color:#3AB7D1;
}
#power,
#works,
#testimonials{
  background-color:white;
}
#home,
#welcome,
#merchants,
#power,
#works,
#testimonials,
#filler{
  width:100%;
  height:630px;
  position:absolute;
  z-index:-1;
}
#home p{
  font-family:'Muli', sans-serif;
  font-size:34pt;
}
#welcome{
  top:630px;
  font-family:'Muli', sans-serif;
  font-size:13pt;
}
#welcome img{
  margin-top:80px;
  margin-bottom:30px;
}
#welcome p{
  text-align:center;
  margin-top:30px;
}
#welcome a{
  text-decoration:none;
  color:#FFB83D;
  text-align:center;
}
#power{
  top:1260px;
  overflow:hidden;
}
#safe{
  font-family:'Muli';
  display:block;
  position:absolute;
}
#instant{
  font-family:'Muli';
  display:block;
  position:absolute;
}
#free{
  font-family:'Muli';
  display:block;
  position:absolute;
}
/*
#works{
  top:1890px;
}
#testimonials{
  top:2520px;
}
*/
#merchants{
  top:1890px;
  overflow:hidden;
}
#merchants img{
  position:absolute;
  bottom:60px;
  right:0px;
}
#gotBiz{
  font-family:'Muli', sans-serif;
  font-size:18pt;
}
#wannaStart{
  font-family:'Muli', sans-serif;
  font-size:40pt;
  line-height:60px;
  color:white;
}
#wrongPlace{
  font-family:'Muli', sans-serif;
  font-size:14pt;
  line-height:25px;
  text-align:right;
  color:white;
  display:block;
}
#startNow{
  height:auto;
  width:auto;
  font-family:'Muli', sans-serif;
  font-size:16pt;
  line-height:35px;
  text-align:right;
  display:block;
  padding-top:2px;
  padding-right:10px;
  padding-left:-10px;
}
#startNow a{
  color:white;
  text-decoration:none;
  background-color:#00728C;
  padding:4px;
}
#partner{
  font-family:'Muli', sans-serif;
  font-size:16pt;
  text-align:right;
  display:block;
  margin-top:-12px;
  margin-right:10px;
}
#superFooter{
  height:332px;
  width:100%;
  background-color:#EFEFEF;
  font-family:'Muli', sans-serif;
  border-top-style:solid;
  border-top-width:12px;
  border-top-color:#FFB83D;
  position:absolute;
  top:2520px;
  left:0px;
  z-index:-1;
  overflow:hidden;
}
#superCopyright{
  color:#C0C0C0;
  position:absolute;
  bottom:20px;
  left:60px;
}
.superColumn{
  display:inline-block;
  margin-left:80px;
  margin-top:80px;
}
.superList{
  font-size:13pt;
  text-align:left;
  list-style-type:none;
  padding:0px;
  margin:0px;
}
.superList a{
  color:black;
  text-decoration:none;
}
#superApp{
  color:#FF0017;
}
#writing{
  position:absolute;
  left:0px;
  bottom:0px;
  z-index:-1;
}
#typing{
  position:absolute;
  right:0px;
  bottom:0px;
  z-index:-1;
}
#superIcon{
  position:absolute;
  z-index:1;
  bottom:25px;
  right:75px;
}
#superIcon img{
  height:30px;
  width:auto;
  margin:0px;
  padding:0px;
}
/*#filler{
  height:200px !important;
  width:100%;
  position:absolute;
  top:4100px;
}
*/
@media screen and (max-width:1600px){
  /*Laptop and Desktop View*/
  #logo{
    position:absolute;
    top:25px !important;
    left:60px;
  }
  #sign{
    color:#9FEAFB;
    font-size:13pt !important;
    position:absolute;
    top:55px !important;
    right:60px;
  }
  #sign a{
    text-decoration:none;
    color:#9FEAFB;
  }
  #welcome{
    font-size:18pt;
  }
  #welcome img{
    width:150px;
    height:150px;
  }
  .powerH{
    font-size:36pt;
    text-align:center;
    margin-top:60px;
  }
  .powerP{
    text-align:center;
    font-size:18pt;
  }
  .powerI{
    width:100%;
    height:auto;
    display:block;
    float:none;
  }
  #safe,
  #instant,
  #free{
    z-index:1;
    height:630px;
    width:33.33%;
  }
  #safe img,
  #instant img,
  #free img{
    height:400px;
    width:auto;
    display:inline;
    text-align:center;
  }
  #instant img{
    width:99% !important;
    height:auto !important;
  }
  #power{
    text-align:center;
  }
  #safeP,
  #instantP,
  #freeP{
    text-align:center;
    display:none;
    z-index:-1
  }
  .powerBack{
    position:absolute;
    top:10px;
    z-index:0;
    height:610px;
    width:99%;
    margin-left:0.5%;
    margin-right:0.5%;
  }
  .powerH{
    position:relative;
    z-index:1;
  }
  .powerI{
    position:relative;
    z-index:1;
  }
  #safeBack{
    background-color:#51CBE5;
  }
  #instantBack{
    background-color:#2096AD;
  }
  #freeBack{
    background-color:#62BFD3;
  }
  #safe{
    top:0px;
    left:0%;
  }
  #instant{
    top:0px;
    left:33.33%;
  }
  #free{
    top:0px;
    left:66.66%;
  }
  #copyright{
    font-size:11pt;
  }
  #dropdown{
    display:none;
  }
  ul#scroll li {
    display:inline !important;
  }
  #navbar{
    font-size:13pt;
  }
  #social-icons img{
    height:30px;
    width:auto;
  }
  #merchants img{
    right:6%;
    width:32%;
    height:auto;
    /*height:500px;
    width:auto;*/
  }
  #merchants div{
    height:auto;
    width:auto;
    position:absolute;
    top:95px;
    left:13%;
  }
  #gotBiz{

  }
  #wannaStart{

  }
  #wrongPlace{

  }
  #startNow{

  }
  #partner{

  }
}
@media screen and (max-width:1024px){
  /*Tablet View*/
  #welcome{
    font-size:18pt;
  }
  #welcome img{
    width:130px;
    height:130px;
  }
  #copyright{
    font-size:8pt;
    margin-left:4%;
  }
  #dropdown{
    display:none;
  }
  ul#scroll li{
    display:inline !important;
  }
  #navbar{
    font-size:8.5pt;
  }
  #social-icons{
    margin-right:4%;
  }
  #social-icons img{
    height:20px;
    width:auto;
  }
  .powerBack{
    width:99.5%;
    margin-left:0.25%;
    margin-right:0.25%;
    z-index:-1;
  }
  .powerH{
    text-align:center;
    font-size:18pt;
    display:block!important;
  }
  .powerP{
    text-align:center;
    font-size:10pt;
    /*margin-left:0.4%;
    margin-right:0.4%;*/
    margin-left:10% !important;
    margin-right:10% !important;
    display:block !important;
  }
  #merchants div{
    top:140px;
  }
  #gotBiz{
    /*18 40 14 16 16*/
    font-size:14pt;
  }
  #wannaStart{
    font-size:28pt;
    line-height:42px;
  }
  #wrongPlace{
    font-size:10pt;
    line-height:18px;
  }
  #startNow{
    font-size:11pt;
    line-height:25px;
    padding-right:4px;
  }
  #partner{
    font-size:11pt;
    margin-right:4px;
    margin-top:-14pt;
  }
  .superColumn{
    margin-left:40px;
  }
}
@media screen and (max-width:780px){
  ul#scroll li{
    display:inline !important;
  }
  ul#scroll li a{
    display:block !important;
  }
  #merchants img{
    width:247px;
    height:auto;
    margin-right:20%;
  }
  #merchants div{
    top:40px;
    left:0;
    margin-left:25%;
  }
  #gotBiz{
    /*14 28 18 11 11*/
    font-size:12pt;
  }
  #wannaStart{
    font-size:20pt;
    line-height:30px;
  }
  #wrongPlace{
    font-size:10pt;
    line-height:18px;
  }
  #startNow{
    font-size:11pt;
    line-height:25px;
    padding-right:4px;
    margin-top:-5px;
  }
  #partner{
    font-size:11pt;
    margin-right:4px;
    margin-top:-14pt;
  }
}
@media screen and (max-width:767px){
  ul#scroll li a{
    display:inline !important;
  }
  #scroll{
    position:relative;
    bottom:6px;
    left:15px;
  }
  #scroll li{
    margin-right:-5px;
  }
}
@media screen and (max-width:736px){
  /*Mobile View*/
  #welcome{
    font-size:12pt;
  }
  #welcome img{
    width:120px;
    height:120px;
    margin-top:130px;
    margin-bottom:30px;
  }
  #dropdown{
    color:#FFB83D;
    border-style:solid;
    border-color:#FFB83D;
    border-radius:4px;
    line-height:20px;
    display:inline;
    margin-left:8%;
  }
  #dropdown:active{
    color:#EFEFEF;
    background-color:#FFB83D;
  }
  ul#scroll li{
    padding-top:0px;
    display:inline!important;
  }
  ul#scroll li a{
    padding-top:0px;
    display:inline !important;
  }
  #scrollspy{
    padding-top:0px;
    overflow:hidden;
  }
  #nav{
    width:100%;
    height:76px;
    z-index:5;
    height:76px;
    border-top-style:solid;
    border-top-width:12px;
    border-top-color:#FFB83D;
  }
  #copyright{
    display:block;
  }
  #navbar{
    height:67px;
    width:100%;
    font-size:12pt;
    background-color:#EFEFEF;
    border-top-style:solid;
    border-top-width:12px;
    border-top-color:#FFB83D;
    position:fixed;
    left:0px;
    bottom:64px;
    display:none;
  }
  #social-icons{
    position:fixed;
    bottom:0px;
    right:0px;
    margin-bottom:4px;
    margin-left:2%;
  }
  #social-icons img{
    height:20px;
    width:auto;
  }
  #power{

  }
  #safe,
  #instant,
  #free{
    height:210px !important;
    width:98% !important;
    left:0px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    margin-left:1% !important;
    margin-right:1% !important;
  }
  #safe{
    top:0px !important;
  }
  #instant{
    top:210px !important;
  }
  #free{
    top:420px !important;
  }
  .powerH{
    top:0px;
    margin-top:20px;
    font-size:21pt;
    width:80%;
  }
  #safe .powerH{
    margin-top:30px;
  }
  #instant .powerH{
    width:59% !important;
    margin-top:40px;
  }
  .powerP{
    font-size:12pt;
    width:60%;
  }
  #safe p{

  }
  #instant p{
    float:right;
    margin-right:5% !important;
  }
  #free p{

  }
  .powerBack{
    height:205px !important;
    width:98% !important;
    left:0px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    margin-left:1% !important;
    margin-right:1% !important;
  }
  #safeBack{
    top:0px !important;
  }
  #instantBack{
    top:0px !important;
  }
  #freeBack{
    top:0px !important;
  }
  .powerI{
    height:100px !important;
    width:auto !important;
  }
  #safe img{
    position:absolute;
    top:0px;
    right:0px;
    margin-top:60px;
    margin-right:8%;
  }
  #instant img{
    height:100px !important;
    width:auto !important;
    position:absolute;
    top:0px;
    left:0px;
    margin-top:60px;
    margin-left:8%;
  }
  #free img{
    position:absolute;
    top:0px;
    right:0px;
    margin-top:60px;
    margin-right:12%;
  }
  #merchants img{
    width:247px;
    height:auto;
    margin-right:15%;
  }
  #merchants div{
    margin-left:8%;
  }
  #superFooter{
    display:none !important;
  }
}
@media screen and (max-width:480px){
  #sign{
    margin-top:40px;
    right:16%;
  }
  #welcome{
    font-size:10pt;
  }
  #welcome img{
    width:100px;
    height:100px;
    margin-top:130px;
    margin-bottom:30px;
  }
  .powerH{
    font-size:16pt;
    margin-bottom:0px;
  }
  .powerP{
    margin-top:0px;
    font-size:11pt;
  }
  #instant img{
    width:30% !important;
    height:auto !important;
  }
  #merchants div{
    margin-left:5%;
    width:90%;
  }
  #startNow,
  #partner{
    font-size:10pt;
  }
  #navbar{
    font-size:10pt;
  }
}
@media screen and (max-width:320px){
  #startNow,
  #partner{
    font-size:9pt;
  }
  #navbar{
    font-size:9pt;
  }
  #copyright p{
    font-size:6pt;
  }
  #dropdown{
    padding-left:20px;
    margin-left:8%;
    text-align:center;
  }
}
